/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;700&family=Nanum+Gothic+Coding:wght@400;700&family=Orelega+One&family=Original+Surfer&family=Roboto:wght@400;500;700;900&family=Ubuntu:wght@400;500;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

.hide{
  display: none;
}

/* font-family: 'EB Garamond', serif;
font-family: 'Nanum Gothic Coding', monospace;
font-family: 'Orelega One', cursive;
font-family: 'Original Surfer', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; */

/* Card CSS Start  */
.con-t  {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  transform-style: preserve-3d;
  min-height: 40vh;
  width: 30rem;
  border-radius: 30px;
  padding: 0rem 5rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.c-content {
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle {
  width: 15rem;
  height: 15rem;
  background: linear-gradient(to right, #fff, #2786a3);
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  opacity: 0.5;
}
.c-content img {
  width: 13rem;
  z-index: 2;
  transition: all 0.75s ease-out;
}

.info h1 {
  font-size: 2rem;
  transition: all 0.75s ease-out;
}
.info h3 {
  font-size: 1.1rem;
  padding: 2rem 0rem;
  color: #585858;
  font-weight: lighter;
  transition: all 0.75s ease-out;
}


/* Card CSS End */

#hero-image {
  content: " ";
  display: block;
  position: relative;
  padding: 15% 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .9;
  background-image: url("https://cdn.glitch.com/ced8bd0a-62c9-400c-b1f2-3ee2d408aaf1%2Fpexels-olia-danilevich-4974915.jpg?v=1619695655459");
  background-size: cover;
  background-repeat: no-repeat;
}


#hero-image *{
  filter: contrast(200%);
  color: #fff;
}


/*  Code Along */
.btn, 
.card,
.nav-bar-toggler,
.jumbotron{
  border-radius: 0;
}

/* CA ends here */


/*  */
/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
  
  /*===== Colors =====*/
  --first-color-light: #a9d7e6;
  --first-color: #5bc0de;
  --first-color-dark: #3da3c2;
  --first-color-darken: #2786a3;
  --white-color: #ffffff;
  
  /*===== Font and typography =====*/
  --body-font: 'Ubuntu', sans-serif;
  --big-font-size: 2.5rem;
  --normal-font-size: .938rem;
  
  /*===== z index =====*/
  --z-fixed: 100;
}

@media screen and (min-width: 768px){
  :root{
    --big-font-size: 5rem;
    --normal-font-size: 1rem;
  }
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

body{
  margin: var(--header-height) 0 0 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
}

.nav__list #register a{
  color: #fff;
  background: linear-gradient(to bottom, var(--first-color), var(--first-color-darken));
  padding: 10px 40px 10px 40px;
  border-radius: 30px;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
}

.nav__list #login a{
  color: var(--first-color-dark);
}

.nav__list .active a{
  color: var(--first-color);
}

.nav__list a{
  color: rgb(53, 62, 70);
  font-weight: 400;
  text-transform: uppercase;
}

.nav__list .active:hover, .nav__list a:hover{
  color: var(--first-color-dark);
}


.home__data h1{
  position: relative;
  left: -8px;
  font-weight: 600;
}

/* register & login CSS */

#reg_div,
#login_div,
#prof_div,
#course_div{
  margin: 0;
  padding: 42px 0;
}

#prof_main,
#course_main{
  padding: 20px 15px;
}


#reg_main,
#login_main,
#prof_main,
#course_main{
  box-shadow: 0 3px 6px 0 rgba(0,0,.5,0.25);
}



#reg_button{
}

h1,p,ul{
  margin: 0;
  color: #0c6f8d;
}
/*  */
.custom-shape-divider-bottom-1619631205 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1619631205 svg {
  position: relative;
  display: block;
  width: calc(124% + 1.3px);
  height: 160px;
}

.custom-shape-divider-bottom-1619631205 .shape-fill {
  fill: #5BC0DE;
}


/*  */



/*  */
ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 50%;
  height: auto;
}

/*===== LAYOUT =====*/
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: white;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.25);
}

/*===== NAV =====*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    padding: 3.5rem 1.5rem 0;
    background: rgba(255,255,255,.3);
    backdrop-filter: blur(10px);
    transition: .5s;
  }
}

.nav__close{
  position: absolute;
  top: .75rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav__item{
  margin-bottom: 2rem;
}

.nav__close, .nav__link, .nav__logo, .nav__toggle{
  color: var(--white-color);
  font-weight: 600;
  font-size: 1.5rem;
}

.nav__link:hover{
  color: var(--first-color-dark);
}

.nav__toggle{
  font-size: 1.5rem;
  cursor: pointer;
}


/* == Text Animation==  */


span {
  color: var(--first-color-darken);
}


/*=== Show menu ===*/
.show{
  right: 0;
}

/*===== HOME =====*/
.home{
  overflow: hidden;
}

.home__container{
  height: calc(100vh - var(--header-height));
  grid-template-rows: repeat(2, max-content);
  row-gap: 1.5rem;
}

.home__img{
  position: relative;
  padding-top: 1.5rem;
  justify-self: center;
  width: 302px;
  height: 233px;
  
}

.home__img #img-1{
  position: absolute;
  top: 10%;
  left: 50%;
}
.home__img #img-2{
  position: absolute;
  top: -25%;
  left: 7%;
}
.home__img #img-3{
  position: absolute;
  top: 10%;
  left: -3%;
}
.home__img #img-4{
  position: absolute;
  top: -25%;
  left: 38%;
}
.home__img #img-5{
  position: absolute;
  top: 38%;
  left: 28%;
}
.home__img #img-6{
  position: absolute;
  top: 10%;
  left: 25%;
}



.home__data{
  color: var(--white-color);
}

.home__title{
  font-size: var(--big-font-size);
  line-height: 1.3;
  margin-bottom: 1rem;
}

.home__description{
  margin-bottom: 2.5rem;
}

.home__button{
  display: inline-block;
  padding: 10px 30px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
  color: #5a84a2;
  font-size: 18px;
  border-radius: 40px;
  box-shadow: -2px -2px 8px rgba(255,255,255,1),
              -2px -2px 12px rgba(255,255,255,0.5),
             inset 2px 2px 4px rgba(255,255,255,0.1),
              2px 2px 8px rgba(0,0,0,0.15);
}

.home__button:hover{
  text-decoration: none;
  box-shadow: inset -2px -2px 8px rgba(255,255,255,1),
              inset -2px -2px 12px rgba(255,255,255,0.5),
             inset 2px 2px 4px rgba(255,255,255,0.1),
             inset 2px 2px 8px rgba(0,0,0,0.15);
}

/* ===== MEDIA QUERIES =====*/
@media screen and (min-width: 768px){
  body{
    margin: 0;
  }
  
  .nav{
    height: calc(var(--header-height) + 1.5rem);
    
  }
  
  .nav__toggle, .nav__close{
    display: none;
  }
  
  .nav__list{
    display: flex;
  }
  
  .nav__item a{
    font-weight: 600;
  }
  
  .nav__item{
    margin-left: 3rem;
    margin-bottom: 0;
  }
  
  .home__container{
    height: 100vh;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows:  1fr;
    row-gap: 0;
    align-items: center;
    justify-content: center;
  }
  
  .home__img{
    order: 1;
    width: 375px;
    height: 289px;
  }
  
  .home__img img{
    width: 375px;
  }
}

@media screen and (min-width: 1024px){
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }
  
  .home__container{
    justify-content: initial;
    column-gap: 4.5rem;
  }
  
  .home__img{
    width: 604px;
    height: 466px;
  }
  
  .home__img img{
    width: 604px;
  }
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
  transform-style: preserve-3d;
  perspective: 500px;
  
}


.home__container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50;
  width: 100%;
  height: 100vh;
  background: url(https://cdn.glitch.com/ced8bd0a-62c9-400c-b1f2-3ee2d408aaf1%2Fsplash.jpg?v=1619681351262);
  background-size: 1100px;
  background-position: center;
  mix-blend-mode: screen;
  background-repeat: no-repeat;
  opacity: 90%;
}

section h2 {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
  line-height: 100vh;
  font-size: 10vw;
  color: #fff;
  font-weight: 700;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.banner .blocks {
  position: relative;
  display: block;
  width: 5vw;
  height: 5vh;
  background: #fff;
  animation: animate 3s ease-in-out forwards;
  animation-delay: .1s;
}



@keyframes animate {
  0% {
    transform: translateZ(2000px);
    background: url(https://cdn.glitch.com/ced8bd0a-62c9-400c-b1f2-3ee2d408aaf1%2Fbg.jpg?v=1619639460891);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  }
  100%{
    transform: translateZ(0px);
    background: url(https://cdn.glitch.com/ced8bd0a-62c9-400c-b1f2-3ee2d408aaf1%2Fbg.jpg?v=1619639460891);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  }
}

section.active .banner .blocks {
  
  animation: animateTwo 2s ease-in-out forwards;
  background: url(https://cdn.glitch.com/ced8bd0a-62c9-400c-b1f2-3ee2d408aaf1%2Fbg.jpg?v=1619639460891);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  border: 1px solid rgba(0,0,0,.1);
}


@keyframes animateTwo {
  0% {
    transform: translateZ(0px);
    background: url(https://cdn.glitch.com/ced8bd0a-62c9-400c-b1f2-3ee2d408aaf1%2Fbg.jpg?v=1619639460891);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  }
  100%{
    transform: translateZ(2000px);
    background: url(https://cdn.glitch.com/ced8bd0a-62c9-400c-b1f2-3ee2d408aaf1%2Fbg.jpg?v=1619639460891);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 5px 15px rgba(0,0,0,0);
  }
}